body{
   background-color: #7f9423;

}

h1{
    font-size: 110px;
    color: #f2f6e2;
}

button{
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: #4bafd6;
    color: rgb(241, 241, 246);

}